In [1]:
%load_ext watermark
%load_ext lab_black

In [2]:
from pyspark.sql import SparkSession

In [3]:
# start session
spark = SparkSession.builder.appName("Learning-spark").getOrCreate()

In [1]:
#spark

In [4]:
# read the dataset
df_pyspark = spark.read.csv("datasets/tips.csv", header=True, inferSchema=True)
df_pyspark.show(5)

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|
+----------+----+------+------+---+------+----+
only showing top 5 rows

In [5]:
# dtypes of dataframe
df_pyspark.dtypes

[('total_bill', 'double'),
 ('tip', 'double'),
 ('sex', 'string'),
 ('smoker', 'string'),
 ('day', 'string'),
 ('time', 'string'),
 ('size', 'int')]

In [6]:
# similar to dtypes, see the printSchema
df_pyspark.printSchema()

root
 |-- total_bill: double (nullable = true)
 |-- tip: double (nullable = true)
 |-- sex: string (nullable = true)
 |-- smoker: string (nullable = true)
 |-- day: string (nullable = true)
 |-- time: string (nullable = true)
 |-- size: integer (nullable = true)

In [7]:
# drop the columns
df_pyspark.drop("time").show(3)

+----------+----+------+------+---+----+
|total_bill| tip|   sex|smoker|day|size|
+----------+----+------+------+---+----+
|     16.99|1.01|Female|    No|Sun|   2|
|     10.34|1.66|  Male|    No|Sun|   3|
|     21.01| 3.5|  Male|    No|Sun|   3|
+----------+----+------+------+---+----+
only showing top 3 rows

In [8]:
df_pyspark.show(3)

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
+----------+----+------+------+---+------+----+
only showing top 3 rows

As we see, pyspark dataframe doesn't have inplace so quick data manipulation or test can be done as we go. But, if you need that manipulation to exist, need to create new dataframe.

In [9]:
# read dataset with  missing values
df_pyspark = spark.read.csv("datasets/class-grades.csv", header=True, inferSchema=True)

In [13]:
df_pyspark.show(10)

+------+----------+--------+-------+--------+-----+
|Prefix|Assignment|Tutorial|Midterm|TakeHome|Final|
+------+----------+--------+-------+--------+-----+
|     5|     57.14|   34.09|  64.38|   51.48| 52.5|
|     8|     95.05|  105.49|   67.5|   99.07|68.33|
|     8|      83.7|   83.17|   30.0|   63.15|48.89|
|     7|     81.22|   96.06|  49.38|  105.93|80.56|
|     8|     91.32|   93.64|   95.0|  107.41|73.89|
|     7|      95.0|   92.58|  93.12|   97.78|68.06|
|     8|     95.05|  102.99|  56.25|   99.07| 50.0|
|     7|     72.85|   86.85|   60.0|    null|56.11|
|     8|     84.26|    93.1|   47.5|   18.52|50.83|
|     7|      90.1|   97.55|  51.25|   88.89|63.61|
+------+----------+--------+-------+--------+-----+
only showing top 10 rows

In [14]:
# drop na
df_pyspark.na.drop().show(10)

+------+----------+--------+-------+--------+-----+
|Prefix|Assignment|Tutorial|Midterm|TakeHome|Final|
+------+----------+--------+-------+--------+-----+
|     5|     57.14|   34.09|  64.38|   51.48| 52.5|
|     8|     95.05|  105.49|   67.5|   99.07|68.33|
|     8|      83.7|   83.17|   30.0|   63.15|48.89|
|     7|     81.22|   96.06|  49.38|  105.93|80.56|
|     8|     91.32|   93.64|   95.0|  107.41|73.89|
|     7|      95.0|   92.58|  93.12|   97.78|68.06|
|     8|     95.05|  102.99|  56.25|   99.07| 50.0|
|     8|     84.26|    93.1|   47.5|   18.52|50.83|
|     7|      90.1|   97.55|  51.25|   88.89|63.61|
|     7|     80.44|    90.2|   75.0|   91.48|39.72|
+------+----------+--------+-------+--------+-----+
only showing top 10 rows

In [15]:
# there are different ways of using na.drop (any = how -> default one)
df_pyspark.na.drop(how="any").show(10)

+------+----------+--------+-------+--------+-----+
|Prefix|Assignment|Tutorial|Midterm|TakeHome|Final|
+------+----------+--------+-------+--------+-----+
|     5|     57.14|   34.09|  64.38|   51.48| 52.5|
|     8|     95.05|  105.49|   67.5|   99.07|68.33|
|     8|      83.7|   83.17|   30.0|   63.15|48.89|
|     7|     81.22|   96.06|  49.38|  105.93|80.56|
|     8|     91.32|   93.64|   95.0|  107.41|73.89|
|     7|      95.0|   92.58|  93.12|   97.78|68.06|
|     8|     95.05|  102.99|  56.25|   99.07| 50.0|
|     8|     84.26|    93.1|   47.5|   18.52|50.83|
|     7|      90.1|   97.55|  51.25|   88.89|63.61|
|     7|     80.44|    90.2|   75.0|   91.48|39.72|
+------+----------+--------+-------+--------+-----+
only showing top 10 rows

In [16]:
# we can provide threshold
# If specified, drop rows that have less than `thresh` non-null values.This overwrites the `how` parameter. 
df_pyspark.na.drop(how="any", thresh=3).show(10)

+------+----------+--------+-------+--------+-----+
|Prefix|Assignment|Tutorial|Midterm|TakeHome|Final|
+------+----------+--------+-------+--------+-----+
|     5|     57.14|   34.09|  64.38|   51.48| 52.5|
|     8|     95.05|  105.49|   67.5|   99.07|68.33|
|     8|      83.7|   83.17|   30.0|   63.15|48.89|
|     7|     81.22|   96.06|  49.38|  105.93|80.56|
|     8|     91.32|   93.64|   95.0|  107.41|73.89|
|     7|      95.0|   92.58|  93.12|   97.78|68.06|
|     8|     95.05|  102.99|  56.25|   99.07| 50.0|
|     7|     72.85|   86.85|   60.0|    null|56.11|
|     8|     84.26|    93.1|   47.5|   18.52|50.83|
|     7|      90.1|   97.55|  51.25|   88.89|63.61|
+------+----------+--------+-------+--------+-----+
only showing top 10 rows

Here we have just one null values so nothing removed.

In [17]:
# We can specify which columns to look through subset parameter.
df_pyspark.na.drop(how="any", subset=["TakeHome"]).show(10)

+------+----------+--------+-------+--------+-----+
|Prefix|Assignment|Tutorial|Midterm|TakeHome|Final|
+------+----------+--------+-------+--------+-----+
|     5|     57.14|   34.09|  64.38|   51.48| 52.5|
|     8|     95.05|  105.49|   67.5|   99.07|68.33|
|     8|      83.7|   83.17|   30.0|   63.15|48.89|
|     7|     81.22|   96.06|  49.38|  105.93|80.56|
|     8|     91.32|   93.64|   95.0|  107.41|73.89|
|     7|      95.0|   92.58|  93.12|   97.78|68.06|
|     8|     95.05|  102.99|  56.25|   99.07| 50.0|
|     8|     84.26|    93.1|   47.5|   18.52|50.83|
|     7|      90.1|   97.55|  51.25|   88.89|63.61|
|     7|     80.44|    90.2|   75.0|   91.48|39.72|
+------+----------+--------+-------+--------+-----+
only showing top 10 rows

There is null value at TakeHome column which got removed.

In [22]:
df_pyspark.show(10)

+------+----------+--------+-------+--------+-----+
|Prefix|Assignment|Tutorial|Midterm|TakeHome|Final|
+------+----------+--------+-------+--------+-----+
|     5|     57.14|   34.09|  64.38|   51.48| 52.5|
|     8|     95.05|  105.49|   67.5|   99.07|68.33|
|     8|      83.7|   83.17|   30.0|   63.15|48.89|
|     7|     81.22|   96.06|  49.38|  105.93|80.56|
|     8|     91.32|   93.64|   95.0|  107.41|73.89|
|     7|      95.0|   92.58|  93.12|   97.78|68.06|
|     8|     95.05|  102.99|  56.25|   99.07| 50.0|
|     7|     72.85|   86.85|   60.0|    null|56.11|
|     8|     84.26|    93.1|   47.5|   18.52|50.83|
|     7|      90.1|   97.55|  51.25|   88.89|63.61|
+------+----------+--------+-------+--------+-----+
only showing top 10 rows

In [29]:
# filling the missing values with 50
df_pyspark.na.fill(50).show(10)

+------+----------+--------+-------+--------+-----+
|Prefix|Assignment|Tutorial|Midterm|TakeHome|Final|
+------+----------+--------+-------+--------+-----+
|     5|     57.14|   34.09|  64.38|   51.48| 52.5|
|     8|     95.05|  105.49|   67.5|   99.07|68.33|
|     8|      83.7|   83.17|   30.0|   63.15|48.89|
|     7|     81.22|   96.06|  49.38|  105.93|80.56|
|     8|     91.32|   93.64|   95.0|  107.41|73.89|
|     7|      95.0|   92.58|  93.12|   97.78|68.06|
|     8|     95.05|  102.99|  56.25|   99.07| 50.0|
|     7|     72.85|   86.85|   60.0|    50.0|56.11|
|     8|     84.26|    93.1|   47.5|   18.52|50.83|
|     7|      90.1|   97.55|  51.25|   88.89|63.61|
+------+----------+--------+-------+--------+-----+
only showing top 10 rows

In [30]:
# lets use Imputer to impute missing values
from pyspark.ml.feature import Imputer

In [34]:
# lets impute with median
imputer = Imputer(
    inputCols=["TakeHome", "Midterm"],
    outputCols=["{}_imputed".format(c) for c in ["TakeHome", "Midterm"]],
).setStrategy("median")

In [35]:
df_pyspark.show(20)

+------+----------+--------+-------+--------+-----+
|Prefix|Assignment|Tutorial|Midterm|TakeHome|Final|
+------+----------+--------+-------+--------+-----+
|     5|     57.14|   34.09|  64.38|   51.48| 52.5|
|     8|     95.05|  105.49|   67.5|   99.07|68.33|
|     8|      83.7|   83.17|   30.0|   63.15|48.89|
|     7|     81.22|   96.06|  49.38|  105.93|80.56|
|     8|     91.32|   93.64|   95.0|  107.41|73.89|
|     7|      95.0|   92.58|  93.12|   97.78|68.06|
|     8|     95.05|  102.99|  56.25|   99.07| 50.0|
|     7|     72.85|   86.85|   60.0|    null|56.11|
|     8|     84.26|    93.1|   47.5|   18.52|50.83|
|     7|      90.1|   97.55|  51.25|   88.89|63.61|
|     7|     80.44|    90.2|   75.0|   91.48|39.72|
|     6|     86.26|    80.6|  74.38|   87.59| 77.5|
|     8|     97.16|  103.71|   72.5|   93.52|63.33|
|     7|     91.28|   83.53|  81.25|   99.81|92.22|
|     8|      84.8|   89.08|  44.38|   16.91|35.83|
|     7|     93.83|   95.43|  88.12|   80.93| 90.0|
|     8|      84.8|   89.08|   47.5|   16.91|53.33|
|     4|     92.01|  102.52|  38.75|   86.11|49.17|
|     8|     55.14|   81.85|   75.0|   56.11| 62.5|
|     8|     93.04|   82.93|  79.38|   83.33|91.11|
+------+----------+--------+-------+--------+-----+
only showing top 20 rows

In [36]:
# Add imputed columns alongside the original df
imputer.fit(df_pyspark).transform(df_pyspark).show(20)

+------+----------+--------+-------+--------+-----+----------------+---------------+
|Prefix|Assignment|Tutorial|Midterm|TakeHome|Final|TakeHome_imputed|Midterm_imputed|
+------+----------+--------+-------+--------+-----+----------------+---------------+
|     5|     57.14|   34.09|  64.38|   51.48| 52.5|           51.48|          64.38|
|     8|     95.05|  105.49|   67.5|   99.07|68.33|           99.07|           67.5|
|     8|      83.7|   83.17|   30.0|   63.15|48.89|           63.15|           30.0|
|     7|     81.22|   96.06|  49.38|  105.93|80.56|          105.93|          49.38|
|     8|     91.32|   93.64|   95.0|  107.41|73.89|          107.41|           95.0|
|     7|      95.0|   92.58|  93.12|   97.78|68.06|           97.78|          93.12|
|     8|     95.05|  102.99|  56.25|   99.07| 50.0|           99.07|          56.25|
|     7|     72.85|   86.85|   60.0|    null|56.11|           87.96|           60.0|
|     8|     84.26|    93.1|   47.5|   18.52|50.83|           18.52|           47.5|
|     7|      90.1|   97.55|  51.25|   88.89|63.61|           88.89|          51.25|
|     7|     80.44|    90.2|   75.0|   91.48|39.72|           91.48|           75.0|
|     6|     86.26|    80.6|  74.38|   87.59| 77.5|           87.59|          74.38|
|     8|     97.16|  103.71|   72.5|   93.52|63.33|           93.52|           72.5|
|     7|     91.28|   83.53|  81.25|   99.81|92.22|           99.81|          81.25|
|     8|      84.8|   89.08|  44.38|   16.91|35.83|           16.91|          44.38|
|     7|     93.83|   95.43|  88.12|   80.93| 90.0|           80.93|          88.12|
|     8|      84.8|   89.08|   47.5|   16.91|53.33|           16.91|           47.5|
|     4|     92.01|  102.52|  38.75|   86.11|49.17|           86.11|          38.75|
|     8|     55.14|   81.85|   75.0|   56.11| 62.5|           56.11|           75.0|
|     8|     93.04|   82.93|  79.38|   83.33|91.11|           83.33|          79.38|
+------+----------+--------+-------+--------+-----+----------------+---------------+
only showing top 20 rows